.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
  white-space: pre-line;
}

#sentence {
    font-size: 30px;
}

.furigana {
    font-size: 30px;
}

.image img {
  position: static;
  height: auto;
  width: auto;
  max-height: 250px;
}
